/* Estilos para el contenedor principal */
.App {
  text-align: center;
  background-color: #282c34;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para el encabezado y el logo */
.App-header {
  background-color: #282c34;
  padding: 20px;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para el título del encabezado */
.App-header h1 {
  font-size: 2em;
  color: white;
}

/* Estilos para el logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Estilos para los componentes Header y Alumnos */
.Header {
  font-size: 1.5em;
  color: white;
  margin-top: 20px;
}

/* Estilos para el botón de inicio de sesión */
.Login-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
}

/* Estilos para el pie de página o cualquier otro contenido adicional */
/* Agrega estilos aquí según tus necesidades */
